@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  .print\\:hidden {
    display: none !important;
  }
}

/* input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
} */

/* hide the input type[date] widget */

@media print {
  .print-content {
    padding: 20px;
    width: 100%;
    margin: 0;
    background: white;
  }

  body > *:not(.print-content) {
    display: none !important;
  }

  tr {
    page-break-inside: avoid;
  }

  button {
    display: none !important;
  }

  @page {
    margin: 0.25cm;
  }
}

.print-content {
  min-height: 29.7cm;
  /* padding: 1cm; */
  margin: 1cm auto;
  background: white;
}
